<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ractangular DEMO</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ui-view></div>

<script id="templates/alchemyTab.html" type="text/ng-template">
    <md-tabs md-dynamic-height
             class="md-accent"
             md-selected="callApiCtrl.indexTable[callApiCtrl.current.url][1]">
        <!--Sentiment-->
        <md-tab label="Sentiment">
            <div ng-include="'templates/alchemy/sentiment.tpl.html'"></div>
        </md-tab>

        <!--Face detection-->
        <md-tab label="Face Detection">
            <div  ng-include="'templates/alchemy/face-detection.tpl.html'"></div>
        </md-tab>

        <!--News-->
        <md-tab label="News">
            <div  ng-include="'templates/alchemy/news.tpl.html'"></div>
        </md-tab>
    </md-tabs>
</script>
<script id="templates/alchemy/sentiment.tpl.html" type="text/ng-template">
    <md-content>
        <md-tabs md-dynamic-height
                 class="">
            <!--Url-->
            <md-tab label="Url">
                <md-content layout-padding>
                    <div layout layout-margin>
                        <md-input-container flex="">
                            <label>Web URL</label>
                            <input ng-model="callApiCtrl.url">
                        </md-input-container>
                        <div layout layout-align="center center">
                            <md-button class="md-raised md-primary"
                                       ng-click="callApiCtrl.urlRetrieveData()">Retrive
                            </md-button>
                        </div>
                    </div>
                    <div layout layout-margin>
                                    <textarea ng-model="callApiCtrl.urlResult" disabled
                                              flex=""
                                              style="height: 400px"></textarea>
                    </div>
                </md-content>
            </md-tab>

            <!--html-->
            <md-tab label="Html">
                <md-content layout-padding>
                    <div layout layout-margin>
                        <md-input-container flex>
                            <label>Html Content</label>
                            <input ng-model="callApiCtrl.html">
                        </md-input-container>
                        <div layout layout-align="center start">
                            <md-button class="md-raised md-primary"
                                       ng-click="callApiCtrl.htmlRetrieveData()">Retrive
                            </md-button>
                        </div>
                    </div>
                    <div layout layout-margin>
                                    <textarea ng-model="callApiCtrl.htmlResult" disabled
                                              flex
                                              style="height: 400px"></textarea>
                    </div>
                </md-content>
            </md-tab>

            <!--text-->
            <md-tab label="Text">
                <md-content layout-padding>
                    <div layout layout-margin>
                        <md-input-container flex="">
                            <label>Text Content</label>
                            <input ng-model="callApiCtrl.text">
                        </md-input-container>
                        <div layout layout-align="center start">
                            <md-button class="md-raised md-primary"
                                       ng-click="callApiCtrl.textRetrieveData()">Retrive
                            </md-button>
                        </div>
                    </div>
                    <div layout layout-margin>
                                    <textarea ng-model="callApiCtrl.textResult" disabled
                                              flex=""
                                              style="height: 400px"></textarea>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</script>

<script id="templates/alchemy/news.tpl.html" type="text/ng-template">
    <div layout class="md-padding">
        <md-content flex>
            <div layout>
                <!--Max-->
                <md-input-container flex>
                    <label>Start</label>
                    <input type="text" ng-model="callApiCtrl.news.start">
                </md-input-container>

                <!--Min-->
                <md-input-container flex>
                    <label>End</label>
                    <input type="text" ng-model="callApiCtrl.news.end">
                </md-input-container>

                <!--Max Result-->
                <md-input-container flex>
                    <label>Max Result</label>
                    <input type="number" ng-model="callApiCtrl.news.maxResults">
                </md-input-container>
            </div>

            <div layout>
                <!--Title-->
                <md-input-container flex>
                    <label>Title</label>
                    <input type="text" ng-model="callApiCtrl.news.title">
                </md-input-container>
            </div>

            <div layout>
                <!--Return-->
                <md-input-container flex>
                    <label>Return</label>
                    <input type="text" ng-model="callApiCtrl.news.return">
                </md-input-container>
            </div>
        </md-content>

        <div layout layout-align="center start">
            <md-button class="md-primary md-raised"
                       ng-click="callApiCtrl.newsRetrieveData()">
                Retrieve
            </md-button>
        </div>
    </div>

    <!--Result-->
    <div layout layout-margin>
                    <textarea ng-model="callApiCtrl.newsResult" disabled
                              flex=""
                              style="height: 400px"></textarea>
    </div>
</script>

<script id="templates/alchemy/face-detection.tpl.html" type="text/ng-template">
    <md-content>
        <md-tabs md-dynamic-height class="">
            <!--url-->
            <md-tab label="Url">
                <md-content layout-padding>
                    <div layout layout-margin>
                        <md-input-container flex="">
                            <label>Web URL</label>
                            <input ng-model="callApiCtrl.imageUrl">
                        </md-input-container>
                        <div layout layout-align="center center">
                            <md-button class="md-raised md-primary"
                                       ng-click="callApiCtrl.imageUrlRetrieveData()">Retrive
                            </md-button>
                        </div>
                    </div>
                    <div layout layout-margin>
                                    <textarea ng-model="callApiCtrl.imageUrlResult" disabled
                                              flex=""
                                              style="height: 400px"></textarea>
                    </div>
                </md-content>
            </md-tab>

            <!--upload image-->
            <md-tab label="Image">
                <md-content layout-padding>
                    <div layout layout-margin>
                        <md-input-container flex="">
                            <label>Image</label>
                            <input type="file"
                                   onchange="angular.element(this).scope().callApiCtrl.fileChangeHandler(this) ">
                        </md-input-container>
                        <div layout layout-align="center center">
                            <md-button class="md-raised md-primary"
                                       ng-click="callApiCtrl.imageRetrieveData()">Retrive
                            </md-button>
                        </div>
                    </div>
                    <div layout layout-margin>
                                    <textarea ng-model="callApiCtrl.imageResult" disabled
                                              flex=""
                                              style="height: 400px"></textarea>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</script>


<!--Semantria-->
<script id="templates/semantria.tpl.html" type="text/ng-template">
    <md-tabs md-dynamic-height
             class="md-accent">
        <!--Status-->
        <md-tab label="Status">
            <div ng-include="'templates/semantria/status.tpl.html'"></div>
        </md-tab>

        <!--Feature-->
        <md-tab label="Feature"
                >
            <div ng-include="'templates/semantria/feature.tpl.html'"></div>
        </md-tab>

        <!--Process-->
        <md-tab label="ProcessDocument"
                >
            <div ng-include="'templates/semantria/processDocument.tpl.html'"></div>
        </md-tab>
    </md-tabs>
</script>

<script id="templates/semantria/status.tpl.html" type="text/ng-template">
    <md-content layout-padding>
        <div layout layout-margin>
            <textarea ng-model="callApiCtrl.semantria.status"
                      disabled flex
                      style="height: 400px"></textarea>
        </div>
    </md-content>
</script>

<script id="templates/semantria/feature.tpl.html" type="text/ng-template">
    <md-content layout-padding>
        <div layout layout-margin>
            <textarea ng-model="callApiCtrl.semantria.feature"
                      disabled flex
                      style="height: 400px"></textarea>
        </div>
    </md-content>
</script>

<script id="templates/semantria/processDocument.tpl.html" type="text/ng-template">
    <md-content layout-padding>
        <div layout layout-margin>
            <textarea ng-model="callApiCtrl.semantria.processDocument"
                      disabled flex
                      style="height: 400px"></textarea>
        </div>
    </md-content>
</script>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/lodash/lodash.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/ngstorage/ngStorage.js"></script>
<script src="../dist/d1restangular.js"></script>
<!--<script src="../dist/reactangular/rectangular.js"></script>-->


<script src="app.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="bower_components/hmac-sha1/index.js"></script>
</body>
</html>
